<h1>Parent Window</h1>

<ul>
  <li (click)="launchIfram('https://jar-vahana.s3.ap-south-1.amazonaws.com/images/rnd1/index.html')">
    <button>
      Iframe One
    </button>
  </li>
  <li (click)="launchIfram('https://jar-vahana.s3.ap-south-1.amazonaws.com/images/rnd2/index.html')">
    <button>
      Iframe Two
    </button>
  </li>
</ul>



<p>Send hi to Iframe: <button (click)="sendMessage('', '*')" id="message_button">Hi there iframe</button></p>
<p>Got Message:</p>
<div id="results"></div>